html,
body {
  color: #555;
  font-family: sans-serif;
  font-size: 18px;
  margin: 0;
}

main {
  margin: 3rem auto;
  max-width: 90vw;
  width: 54ch;
}

h1 {
  color: #333;
  font-size: 2rem;
  margin: 0 0 1.5rem;
}
