.form {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
  max-width: 500px;
  padding: 0;
}

.label {
  color: #666;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  text-indent: 0.25rem;
  text-transform: uppercase;
  width: 350px;
}

.input,
.button {
  border-radius: 0.25rem;
  box-sizing: border-box;
  font-size: 1.25rem;
  line-height: 2rem;
  padding: 0.25rem;
}

.input {
  border: 1px solid #444;
  display: block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 100%;
}

.button {
  background: #44f;
  border: 1px solid #00f;
  color: #fff;
  font-weight: bold;
  width: 125px;
}
