.label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.toggle {
  cursor: pointer;
  margin-right: 1rem;
}

.text {
  margin: 0;
  width: 100%;
}

.text.completed {
  color: #777;
  text-decoration: line-through;
}

.delete {
  background: transparent;
  border: 0;
  cursor: pointer;
}
