.form {
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  display: block;
  margin: 0.75rem auto 0;
  max-width: 500px;
  padding: 1rem;
}

.label,
.input {
  display: block;
}

.label {
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.input {
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  font-size: 1rem;
  margin-bottom: 0.75rem;
  padding: 0.25rem;
  width: 100%;
}

.button {
  background: darkblue;
  border: 1px solid darkblue;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 1.25rem;
}
